.box {
    width: 60px;
    height: 60px;
    border:1px solid #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url('../../assets/mario.png');

    &:focus {
            border:1px solid green;
            outline: none;
            // background: #b8b859;
            background-size: contain;
            background-image: url('../../assets/mario.png');     
    }
}
.board {
  display: flex;
  max-width: 350px;
  flex-wrap: wrap;
}
img {
    width: 40px;
}